<nav id="top-nav" class="nav md:text-right">

    <ul class="menu flex items-center list-reset">

        {% for item in navigation.top %}

        <li class="md:ml-4">

            <a href="{{ item.url | safe }}" class="link hover:text-uuorange {% if page.url == item.url %}active{% endif %}"
            {% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}

    </ul>

</nav>
