
//==========  Utility classes ==========//

// subtle 'fade in' to the lazyloaded image
[data-lazy] {
    @apply opacity-0 w-full;
    transition: opacity 0.25s ease-in;
    min-height: 120px;
}

.loaded {
    @apply opacity-100;
}

// 'container' helper class
.inner {
    @apply w-full max-w-screen-xl ml-auto mr-auto px-6;
}

.iframe-container {
    @apply overflow-hidden relative;
    padding-top: 75%;

    iframe {
        @apply absolute left-0 top-0 h-full w-full border-0;
    }
}