---
layout: default
meta_title: Home
meta_description: 
body_class: home
title: Unitarian Universalist Fellowship of Lafayette
---

<main id="main" class="main focus:outline-none" tabindex="-1">

    <section class="w-full bg-uured">
        <img class="object-cover mx-auto" src="images/content/hero-image.jpg" alt="Front of UU fellowship building" />
    </section>
    
    <section class="max-w-3xl p-8 -mt-12 mx-auto mb-20 text-center bg-uured z-10 relative">
        <h1 class="mb-6 text-xs">{{ site.name }}</h1>
        <h2 class="mb-4 normal-case text-4xl text-white">Next Sunday's Topic:</h2>
        <strong class="block text-2xl leading-none">We Work With Our Hands</strong>
        <strong class="text-sm">Bill Edwards, February 2, 2020</strong>
    </section>

    <section class="inner">
        <div class="flex items-center justify-center max-w-3xl mx-auto py-4 mb-12 text-center">
            <hr class="border-uublack flex-1">
            <h2 class="mx-4 mb-0 text-2xl">Come Visit Us</h2>
            <hr class="border-uublack flex-1">
        </div>
    </section>

    <section class="inner flex flex-col md:flex-row">
        <div class="flex-1 md:px-6 mb-8">
            <h3 class="text-2xl">First Time Visiting?</h3>
            {% set addressParts = [site.address.street, site.address.street_2, site.address.city, site.address.state + ' ' + site.address.postcode] %}
            <p class="mb-8">We are located on the corner of Johnston Street and University Avenue, behind the Domino’s Pizza at <a href="https://maps.google.com/maps?ll=30.217528,-92.018264&z=16&t=m&hl=en&gl=US&mapclient=embed&cid=3083196295842729455" target="_blank">{{ addressParts | join(", ") }}</a></p>
            <p class="mb-8">Our parking lot is a bit cramped, so make sure to arrive early if you want a good spot! Please be aware that we are not permitted to park in Domino's lot, although it is tempting. Also, most parking lots in the area are for permited students only.</p>
            <a href="/first-visit">Learn more about your first visit</a>
        </div>
        <div class="flex-1 md:px-6 mb-8">
            {% include "components/map.njk" %}
        </div>
    </section>

</main>


